<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
    <mat-error *ngIf="(f['email'].touched || isSubmitted)  && f['email']?.errors?.['required']">
      Email is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="(f['email'].touched || isSubmitted)  && f['email']?.errors?.['email']">
      Email is <strong>invalid</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Enter you password" formControlName="password">
      <mat-error *ngIf="(f['password'].touched || isSubmitted)  && f['password']?.errors?.['required']">
        Password is <strong>required</strong>
      </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" *ngIf="!isSubmitted" [disabled]="loginForm.invalid">Login</button>
  <mat-spinner [diameter]="24" *ngIf="isSubmitted"></mat-spinner>
</form>