nav {
    display: flex;
    flex-direction: column;

    a {
        padding: 20px 50px;
        cursor: pointer;
        font-size: 18px;
        text-decoration: none;
        color: black;
    }
    :hover {
        background-color: #3f51b5;
    }
}