<h2 mat-dialog-title>Add Product</h2>
<mat-dialog-content class="mat-typography">
  <form class="product-form" [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <mat-label>Title</mat-label>
      <input type="text" matInput formControlName="title">
      <mat-error *ngIf="productForm.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Price</mat-label>
        <input type="number" matInput formControlName="price">
        <mat-error *ngIf="productForm.hasError('required')">
          Price is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput></textarea>
      <mat-error *ngIf="productForm.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>
